<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>داشبورد مدرسه ثامن</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets-dashboard/css/app.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/weather-icon/css/weather-icons.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/weather-icon/css/weather-icons-wind.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/summernote/summernote-bs4.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/datatables/datatables.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets-dashboard/css/style.css">
  <link rel="stylesheet" href="/assets-dashboard/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/assets-dashboard/css/custom.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<div class="loader"></div>
<div id="app">
  <a href="/#" data-toggle="sidebar" class="collapse-btn" style="padding-top: 25px;padding-right: 25px;color: rgb(0, 0, 0);"><i data-feather="align-justify"></i></a>
  <div class="main-wrapper main-wrapper-1">
    <%- include('../sidebar') %>
    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>لیست تمام تکالیف مدل <%= userinfo.type %></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>کلاس</th>
                                        <th>مدل</th>
                                        <th>توضیح</th>
                                        <th>دکمه</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% for(var i=0; i < homeworks.length; i++) {%>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= homeworks[i].class %></td>
                                        <td><%= homeworks[i].type %></td>
                                        <td><%= homeworks[i].description %></td>
                                        <td>
                                          <form action="/dashboard/homework/delete?id=<%= homeworks[i].id %>" method="POST">
                                            <button class="btn btn-danger">حذف</button>
                                          </form>
                                        </td>
                                    </tr>
                                  <% } %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
    <footer class="main-footer">
      <div class="footer-left">
       © 1400-1401 . تمامی حقوق محفوظ است . سایت ساخته شده توسط <a href="http://kian-rabiei.ir" target="_blank" >KiaN Rabiei</a>
      </div>
      <div class="footer-right">
      </div>
    </footer>
  </div>
</div>
<!-- General JS Scripts -->
<script src="/assets-dashboard/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="/assets-dashboard/bundles/datatables/datatables.min.js"></script>
<script src="/assets-dashboard/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets-dashboard/bundles/echart/echarts.js"></script>
<script src="/assets-dashboard/bundles/chartjs/chart.min.js"></script>
<script src="/assets-dashboard/bundles/jquery-ui/jquery-ui.min.js"></script>
<!-- Page Specific JS File -->
<script src="/assets-dashboard/js/page/datatables.js"></script>
<script src="/assets-dashboard/js/page/index.js"></script>
<!-- Template JS File -->
<script src="/assets-dashboard/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/assets-dashboard/js/custom.js"></script>

</body>

</html>
