<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>جزئیات پست مدرسه ثامن - نگاه به این رشته تغییر کند</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Header Start -->
    <%- include('./include/header') %>
    <!-- Header End -->



    <!-- Page Header Start -->
    <div class="container-fluid bg-primary py-0 mb-5">
        <div class="container py-2">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-right">
                    <h1 class="display-4 mb-4 mb-md-0 text-dark text-uppercase">جزئیات پست</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-sm btn-outline-light" href="/">خانه</a>
                        <i class="fas fa-angle-double-left text-light mx-2"></i>
                        <a class="btn btn-sm btn-outline-light" href="/blog">بلاگ</a>
                        <i class="fas fa-angle-double-left text-light mx-2"></i>
                        <a class="btn btn-sm btn-outline-light disabled" href="/blog/<%= blog.id %>">جزئیات پست</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-5">
                        <div class="d-flex mb-2">
                            <div class="text-secondary text-uppercase font-weight-medium"><%= blog.day %> <%= blog.month %> </div>
                        </div>
                        <h1 class="section-title mb-3"><%= blog.title %></h1>
                    </div>

                    <div class="mb-5">
                        <!-- <img class="img-fluid rounded w-100 mb-4" src="" alt="Image"> -->
                        <%- blog.bigtext %>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->

    <!-- Footer Start -->
    <%- include('./include/footer') %>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="/assets/#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/assets/lib/counterup/counterup.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="/assets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/js/main.js"></script>
</body>

</html>