<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>داشبورد مدرسه ثامن</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets-dashboard/css/app.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/weather-icon/css/weather-icons.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/weather-icon/css/weather-icons-wind.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/summernote/summernote-bs4.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/codemirror/theme/duotone-dark.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/jquery-selectric/selectric.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets-dashboard/css/style.css">
  <link rel="stylesheet" href="/assets-dashboard/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/assets-dashboard/css/custom.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<div class="loader"></div>
<div id="app">
  <a href="/#" data-toggle="sidebar" class="collapse-btn" style="padding-top: 25px;padding-right: 25px;color: rgb(0, 0, 0);"><i data-feather="align-justify"></i></a>
  <div class="main-wrapper main-wrapper-1">
    <%- include('../sidebar') %>
    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>ویرایش کاربر</h4>
                </div>
                <div class="card-body">
                    <form action="/dashboard/users/edit?nationalID=<%= user.nationalID %>" method="POST">
                        <div class="form-group row mb-4">
                          <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">کدملی</label>
                          <div class="col-sm-12 col-md-7">
                            <input type="text" class="form-control" name="nationalID" value="<%= user.nationalID %>">
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">سریال شناسنامه</label>
                          <div class="col-sm-12 col-md-7">
                            <input type="text" class="form-control" name="nationalSerial" value="<%= user.nationalSerial %>">
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">نام و نام خانوادگی</label>
                          <div class="col-sm-12 col-md-7">
                            <input type="text" class="form-control" name="username" value="<%= user.username %>">
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">گروه</label>
                          <div class="col-sm-12 col-md-7">
                            <select class="form-control selectric" name="group">
                              <option <%= user.group == 'student' ? 'selected' : '' %>>دانش اموز</option>
                              <option <%= user.group == 'teacher' ? 'selected' : '' %>>معلم</option>
                              <option <%= user.group == 'manager' ? 'selected' : '' %>>معاون</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                          <div class="col-sm-12 col-md-7">
                            <button class="btn btn-primary">انتشار</button>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>
    <footer class="main-footer">
      <div class="footer-left">
       © 1400-1401 . تمامی حقوق محفوظ است . سایت ساخته شده توسط <a href="http://kian-rabiei.ir" target="_blank" >KiaN Rabiei</a>
      </div>
      <div class="footer-right">
      </div>
    </footer>
  </div>
</div>
<!-- General JS Scripts -->
<script src="/assets-dashboard/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="/assets-dashboard/bundles/echart/echarts.js"></script>
<script src="/assets-dashboard/bundles/chartjs/chart.min.js"></script>
<script src="/assets-dashboard/bundles/summernote/summernote-bs4.js"></script>
<script src="/assets-dashboard/bundles/codemirror/lib/codemirror.js"></script>
<script src="/assets-dashboard/bundles/codemirror/mode/javascript/javascript.js"></script>
<script src="/assets-dashboard/bundles/jquery-selectric/jquery.selectric.min.js"></script>
<script src="/assets-dashboard/bundles/ckeditor/ckeditor.js"></script>
<!-- Page Specific JS File -->
<script src="/assets-dashboard/js/page/index.js"></script>
<script src="assets/js/page/ckeditor.js"></script>
<!-- Template JS File -->
<script src="/assets-dashboard/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/assets-dashboard/js/custom.js"></script>

</body>

</html>
