<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>داشبورد مدرسه ثامن</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets-dashboard/css/app.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/weather-icon/css/weather-icons.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/weather-icon/css/weather-icons-wind.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/summernote/summernote-bs4.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/datatables/datatables.min.css">
  <link rel="stylesheet" href="/assets-dashboard/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets-dashboard/css/style.css">
  <link rel="stylesheet" href="/assets-dashboard/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/assets-dashboard/css/custom.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<div class="loader"></div>
<div id="app">
  <a href="/#" data-toggle="sidebar" class="collapse-btn" style="padding-top: 25px;padding-right: 25px;color: rgb(0, 0, 0);"><i data-feather="align-justify"></i></a>
  <div class="main-wrapper main-wrapper-1">
    <%- include('./sidebar') %>
    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
        <div class="row">
          <div class="col-xl-3 col-lg-6">
						<div class="card">
							<div class="card-body">
								<div class="media align-items-center">
									<div class="media-body">
										<h2 class="fs-38 text-black font-w600"><%= blogs.length %></h2>
										<span class="fs-18">تعداد بلاگ ها</span>
									</div>
									<span class="p-3 border mr-3 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none">
                      <path d="M18.53 9L13 3.47C12.8595 3.32931 12.6688 3.25018 12.47 3.25H8C7.27065 3.25 6.57118 3.53973 6.05546 4.05546C5.53973 4.57118 5.25 5.27065 5.25 6V18C5.25 18.7293 5.53973 19.4288 6.05546 19.9445C6.57118 20.4603 7.27065 20.75 8 20.75H16C16.7293 20.75 17.4288 20.4603 17.9445 19.9445C18.4603 19.4288 18.75 18.7293 18.75 18V9.5C18.7421 9.3116 18.6636 9.13309 18.53 9ZM13.25 5.81L16.19 8.75H13.25V5.81ZM16 19.25H8C7.66848 19.25 7.35054 19.1183 7.11612 18.8839C6.8817 18.6495 6.75 18.3315 6.75 18V6C6.75 5.66848 6.8817 5.35054 7.11612 5.11612C7.35054 4.8817 7.66848 4.75 8 4.75H11.75V9.5C11.7526 9.69811 11.8324 9.88737 11.9725 10.0275C12.1126 10.1676 12.3019 10.2474 12.5 10.25H17.25V18C17.25 18.3315 17.1183 18.6495 16.8839 18.8839C16.6495 19.1183 16.3315 19.25 16 19.25Z" fill="#2BC155"/>
                    </svg>
									</span>
								</div>
							</div>
						</div>
					</div>
          <div class="col-xl-3 col-lg-6">
						<div class="card">
							<div class="card-body">
								<div class="media align-items-center">
									<div class="media-body">
										<h2 class="fs-38 text-black font-w600"><%= students.length %></h2>
										<span class="fs-18">تعداد دانش اموزان</span>
									</div>
									<span class="p-3 border mr-3 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none">
                    <path d="M17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8Z" stroke="#2BC155" stroke-width="2"/>
                    <path d="M3 21C3.95728 17.9237 6.41998 17 12 17C17.58 17 20.0427 17.9237 21 21" stroke="#2BC155" stroke-width="2" stroke-linecap="round"/>
                    </svg>
									</span>
								</div>
							</div>
						</div>
					</div>
          <div class="col-xl-3 col-lg-6">
						<div class="card">
							<div class="card-body">
								<div class="media align-items-center">
									<div class="media-body">
										<h2 class="fs-38 text-black font-w600"><%= teachers.length %></h2>
										<span class="fs-18">تعداد معلمان</span>
									</div>
									<span class="p-3 border mr-3 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none">
                      <path d="M10.56 11.87C9.81832 11.87 9.0933 11.6501 8.47661 11.238C7.85993 10.826 7.37928 10.2403 7.09545 9.55506C6.81162 8.86984 6.73736 8.11584 6.88205 7.38841C7.02675 6.66098 7.3839 5.99279 7.90835 5.46835C8.4328 4.9439 9.10098 4.58675 9.82841 4.44205C10.5558 4.29736 11.3098 4.37162 11.9951 4.65545C12.6803 4.93928 13.266 5.41992 13.678 6.03661C14.0901 6.65329 14.31 7.37832 14.31 8.12C14.3074 9.11375 13.9114 10.066 13.2087 10.7687C12.506 11.4714 11.5538 11.8674 10.56 11.87ZM10.56 5.87C10.115 5.87 9.67998 6.00196 9.30997 6.24919C8.93996 6.49642 8.65157 6.84783 8.48127 7.25896C8.31097 7.67009 8.26642 8.12249 8.35323 8.55895C8.44005 8.99541 8.65434 9.39632 8.96901 9.71099C9.28368 10.0257 9.68459 10.2399 10.121 10.3268C10.5575 10.4136 11.0099 10.369 11.421 10.1987C11.8322 10.0284 12.1836 9.74004 12.4308 9.37003C12.678 9.00002 12.81 8.565 12.81 8.12C12.81 7.52326 12.5729 6.95096 12.151 6.52901C11.729 6.10705 11.1567 5.87 10.56 5.87Z" fill="#2BC155"/>
                      <path d="M3.56 18.87C3.36109 18.87 3.17032 18.791 3.02967 18.6503C2.88902 18.5097 2.81 18.3189 2.81 18.12C2.81 13.37 8.24 13.37 10.56 13.37C11.28 13.37 11.92 13.37 12.5 13.44C12.6973 13.4553 12.8805 13.548 13.0098 13.6979C13.139 13.8477 13.2038 14.0426 13.19 14.24C13.1722 14.4381 13.0773 14.6214 12.9259 14.7504C12.7744 14.8794 12.5785 14.9439 12.38 14.93C11.84 14.93 11.24 14.87 10.56 14.87C5.38 14.87 4.31 16.17 4.31 18.12C4.31134 18.2189 4.29286 18.317 4.25565 18.4086C4.21843 18.5002 4.16324 18.5834 4.09333 18.6533C4.02341 18.7232 3.9402 18.7784 3.84859 18.8156C3.75699 18.8529 3.65886 18.8713 3.56 18.87Z" fill="#2BC155"/>
                      <path d="M12.67 19.63C12.4711 19.6299 12.2805 19.5507 12.14 19.41C12.061 19.3348 12.0002 19.2426 11.9621 19.1404C11.9239 19.0382 11.9096 18.9286 11.92 18.82L12.08 16.9C12.0923 16.7235 12.1667 16.557 12.29 16.43L17.81 10.91C18.1908 10.5572 18.6908 10.3612 19.21 10.3612C19.7291 10.3612 20.2291 10.5572 20.61 10.91C20.7978 11.0993 20.9458 11.3242 21.0454 11.5715C21.145 11.8188 21.1942 12.0835 21.19 12.35C21.1939 12.5958 21.149 12.8398 21.0581 13.0681C20.9671 13.2964 20.8318 13.5044 20.66 13.68L15.14 19.2C15.0176 19.3256 14.8545 19.4035 14.68 19.42L12.74 19.6L12.67 19.63ZM13.55 17.29L13.49 18.05L14.27 17.98L19.6 12.65C19.6629 12.5746 19.6951 12.4782 19.69 12.38C19.6896 12.2408 19.64 12.1062 19.55 12C19.4517 11.927 19.3325 11.8875 19.21 11.8875C19.0875 11.8875 18.9683 11.927 18.87 12L13.55 17.29Z" fill="#2BC155"/>
                      </svg>
									</span>
								</div>
							</div>
						</div>
					</div>
          <div class="col-xl-3 col-lg-6">
						<div class="card">
							<div class="card-body">
								<div class="media align-items-center">
									<div class="media-body">
										<h2 class="fs-38 text-black font-w600"><%= managers.length %></h2>
										<span class="fs-18">تعداد معاونین</span>
									</div>
									<span class="p-3 border mr-3 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#2BC155" height="34" width="34" version="1.1" id="Layer_1" viewBox="0 0 493.665 493.665" xml:space="preserve">
                      <g><g><polygon points="225.034,396.4 210.145,416.68 221.744,437.772 227.699,400.229   "></g></g><g><g><polygon points="268.732,396.538 266.163,400.229 272.076,437.483 283.518,416.677   "></g></g><g><g><polygon points="311.577,319.445 271.343,346.32 258.554,354.863 274.38,376.419 275.19,377.522 292.269,400.782 332.817,327.063       "></g></g><g><g><path d="M249.39,399.538c-0.333-2.106,0.161-4.251,1.378-5.994l7.674-11.016l-11.155-15.204l-0.421-0.573l-11.531,15.644    l7.764,11.149c1.213,1.743,1.707,3.888,1.374,5.986l-9.795,61.757l12.157,22.097l12.313-22.378L249.39,399.538z"></g></g><g><g><path d="M330.19,378.269c1.458-2.459,4.086-3.977,6.942-4.026l23.936-0.369l-16.748-33.582l-43.847,79.719l-0.002,0.002    l-22.595,41.083l61.707-56.456l-9.61-18.352C328.647,383.757,328.728,380.72,330.19,378.269z"></g></g><g><g><path d="M302.115,295.38c-2.496,2.249-4.985,4.221-7.463,6.063c-0.534,0.396-1.063,0.799-1.594,1.177    c-2.435,1.733-4.847,3.302-7.226,4.683c-0.397,0.231-0.784,0.432-1.18,0.652c-2.29,1.286-4.545,2.435-6.75,3.432    c-0.225,0.101-0.453,0.221-0.677,0.319c-2.376,1.049-4.676,1.922-6.915,2.68c-0.357,0.121-0.705,0.237-1.058,0.349    c-4.587,1.487-8.822,2.429-12.568,2.987c-0.127,0.02-0.256,0.042-0.381,0.06c-1.898,0.273-3.653,0.458-5.266,0.571    c-0.066,0.004-0.125,0.008-0.19,0.012c-3.169,0.21-5.722,0.174-7.528,0.066c-0.062-0.004-0.109-0.006-0.171-0.01    c-0.816-0.052-1.526-0.112-1.995-0.167c-0.045,0-0.088,0-0.133,0c-2.196,0-4.471-0.264-6.784-0.684    c-0.786-0.141-1.587-0.382-2.381-0.568c-1.553-0.361-3.103-0.742-4.679-1.249c-0.939-0.303-1.875-0.661-2.819-1.009    c-1.454-0.536-2.899-1.091-4.352-1.721c-0.987-0.429-1.958-0.874-2.941-1.339c-1.415-0.67-2.809-1.363-4.205-2.097    c-0.962-0.505-1.909-1.002-2.857-1.531c-1.418-0.791-2.795-1.6-4.172-2.431c-0.859-0.516-1.716-1.016-2.554-1.542    c-1.52-0.955-2.969-1.911-4.409-2.875c-0.614-0.412-1.255-0.818-1.852-1.227c-1.958-1.346-3.832-2.677-5.576-3.961v9.883    l1.358,0.907l54.019,36.087l55.401-37.001v-10.602C302.185,295.326,302.15,295.348,302.115,295.38z"></g></g><g><g><path d="M337.245,33.897c-2.407-0.578-4.424-2.21-5.492-4.444c-1.073-2.226-1.081-4.821-0.032-7.055    c0.928-2.057,2.856-8.581,0.382-13.362c-1.957-3.777-6.573-6.46-13.724-7.963H199.392c-39.191,0-71.077,31.883-71.077,71.078    v47.013c0,6.131,1.526,12.14,4.371,17.436v-21.42c0-0.603,0.065-1.206,0.197-1.792c8.855-39.685,43.996-44.683,45.486-44.884    c0.35-0.04,0.703-0.065,1.057-0.065h39.472c2.792,0,5.516-0.418,8.088-1.245c7.066-2.274,18.428-6.5,26.716-9.65    c2.403-0.91,4.872-1.591,7.373-2.057c1.07-0.2,2.157-0.206,3.236-0.323c1.454-0.159,2.9-0.385,4.361-0.396    c0.1-0.002,0.2-0.028,0.3-0.028c1.67,0,3.332,0.227,4.993,0.422c0.689,0.081,1.384,0.061,2.069,0.175    c2.436,0.406,4.847,1.011,7.201,1.838l41.545,14.583c32.49,11.932,36.126,42.112,36.266,43.389    c0.032,0.297,0.048,0.594,0.048,0.892v26.588c0.369-0.627,0.751-1.253,1.137-1.872c2.303-3.688,3.515-7.858,3.515-12.077V65.306    C365.158,61.836,360.51,39.498,337.245,33.897z"></g></g><g><g><path d="M138.302,412.507c-2.755-2.523-3.467-6.581-1.736-9.891l6.348-12.125l-23.643-0.362c-2.824-0.048-5.431-1.534-6.902-3.953    c-1.471-2.418-1.595-5.416-0.333-7.946l20.409-40.923l-92.057,33.305c-15.062,5.448-26.046,18.649-28.657,34.446L0.208,474.593    c-0.743,4.491,0.522,9.063,3.467,12.534c2.941,3.471,7.244,5.464,11.796,5.464h210.385L138.302,412.507z"></g></g><g><g><path d="M319.218,87.243l-41.436-14.544c-5.914-2.064-12.39-1.992-18.235,0.225c-8.469,3.222-20.124,7.561-27.528,9.939    c-4.202,1.35-8.618,2.033-13.121,2.033H180.08c-2.187,0.397-11.314,2.457-19.358,10.217c-0.042,0.042-0.081,0.09-0.124,0.13    c-0.76,0.741-1.512,1.524-2.246,2.37c-0.145,0.167-0.28,0.366-0.424,0.538c-0.624,0.744-1.243,1.503-1.836,2.331    c-0.197,0.276-0.373,0.593-0.566,0.878c-0.521,0.772-1.046,1.539-1.534,2.383c-0.244,0.422-0.457,0.901-0.69,1.342    c-0.407,0.765-0.826,1.511-1.2,2.334c-0.334,0.735-0.62,1.55-0.926,2.333c-0.233,0.598-0.492,1.156-0.707,1.783    c-0.497,1.451-0.942,2.978-1.329,4.586V177.5v14.415c0.011,0.369,1.799,56.51,37.785,80.325c0.024,0.016,0.872,0.603,0.892,0.611    c2.877,1.945,5.677,3.994,8.4,6.131c18.529,14.544,35.535,23.125,45.181,22.812c0.458,0.008,0.968,0.024,1.446,0.096    c0.068,0.009,0.222,0.028,0.451,0.052l0.008,0.001c0.079,0.008,0.221,0.018,0.318,0.028c3.224,0.287,17.069,0.868,33.717-8.746    c0.161-0.093,0.316-0.165,0.477-0.26c1.074-0.631,2.169-1.352,3.263-2.071c0.378-0.25,0.747-0.456,1.127-0.716    c0.68-0.465,1.372-1.01,2.057-1.511c2.295-1.674,4.609-3.492,6.944-5.603c4.379-3.945,9.277-7.802,14.571-11.458l1.495-1.037    c11.954-8.027,32.671-29.209,37.363-80.812v-73.163C344.194,113.774,340.49,95.06,319.218,87.243z"></g></g><g><g><path d="M493.456,474.593l-11.514-69.535c-2.62-15.797-13.604-28.998-28.661-34.446l-92.061-33.305l20.409,40.923    c1.262,2.531,1.137,5.528-0.333,7.946c-1.47,2.418-4.078,3.904-6.902,3.953l-23.643,0.362l6.347,12.125    c1.732,3.31,1.021,7.368-1.736,9.891l-87.542,80.084h210.372c4.552,0,8.855-1.992,11.796-5.464    C492.934,483.656,494.2,479.084,493.456,474.593z"></g></g><g><g><polygon points="182.097,319.438 160.848,327.063 201.4,400.782 218.579,377.385 218.583,377.378 226.755,366.251     235.109,354.869   "></g></g><g><g><path d="M154.082,404.641l61.826,56.669l-22.71-41.296l-0.002-0.002l-43.852-79.719l-16.748,33.582l23.936,0.369    c2.856,0.048,5.484,1.567,6.943,4.026c1.462,2.451,1.542,5.488,0.217,8.019L154.082,404.641z"></g></g>
                    </svg>
									</span>
								</div>
							</div>
						</div>
					</div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>تکالیف انجام نشده</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="save-stage" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>کلاس</th>
                                        <th>توضیح</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% for(var i=0; i < homeworks.length; i++) {%>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= homeworks[i].type %></td>
                                        <td><%= homeworks[i].description %></td>
                                    </tr>
                                  <% } %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
    <footer class="main-footer">
      <div class="footer-left">
       © 1400-1401 . تمامی حقوق محفوظ است . سایت ساخته شده توسط <a href="http://kian-rabiei.ir" target="_blank" >KiaN Rabiei</a>
      </div>
      <div class="footer-right">
      </div>
    </footer>
  </div>
</div>
<!-- General JS Scripts -->
<script src="/assets-dashboard/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="/assets-dashboard/bundles/echart/echarts.js"></script>
<script src="/assets-dashboard/bundles/chartjs/chart.min.js"></script>
<script src="/assets-dashboard/bundles/datatables/datatables.min.js"></script>
<script src="/assets-dashboard/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets-dashboard/bundles/jquery-ui/jquery-ui.min.js"></script>
<!-- Page Specific JS File -->
<script src="/assets-dashboard/js/page/datatables.js"></script>
<script src="/assets-dashboard/js/page/index.js"></script>
<!-- Template JS File -->
<script src="/assets-dashboard/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/assets-dashboard/js/custom.js"></script>

</body>

</html>
